@charset "utf-8";

#myCanvas {
    position: relative;
  }
  #myText {
    position: absolute;
    top: 400px;
    left: 700px;
    font-size: 30px;
    
    color: rgb(236, 236, 236); text-align: center"
  }
  #text1 {
    position: absolute;
    top: 350px;
    left: 310px;
    font-size: 30px;
     
    color: rgb(236, 236, 236); text-align: center"
  }
 
 
  #text2 {
  
    position: absolute;
    top: 250px;
    left: 505px;
    
    font-size: 25px;
   
    color: rgb(236, 236, 236); 
   
  }
  #text3 {
    position: absolute;
    top: 300px;
    left: 610px;
    font-size: 30px;
    
    color: rgb(236, 236, 236); text-align: center"
  }

  #text4 {
    position: absolute;
    top: 400px;
    left: 1080px;
    font-size: 30px;
    
    color: rgb(236, 236, 236); text-align: center"
  }

  #text5 {
    position: absolute;
    top: 200px;
    left: 1060px;
    font-size: 30px;
   
    color: rgb(236, 236, 236); text-align: center"
  }



  #text6 {
    position: absolute;
    top: 230px;
    left: 90px;
    font-size: 30px;
   
    color: rgb(236, 236, 236); text-align: center"
  }



  #text7 {
    position: absolute;
    top: 580px;
    left: 500px;
    font-size: 30px;
    
    color: rgb(236, 236, 236); text-align: center"
  }


  #text8 {
    position: absolute;
    top: 430px;
    left: 90px;;
    font-size: 30px;
   
    color: rgb(236, 236, 236); text-align: center"
  }


  #text9 {
    position: absolute;
    top: 20px;
    left: 80px;
    font-size: 30px;
   
    color: rgb(236, 236, 236); text-align: center"
  }
  #text10 {
    position: absolute;
    top: 100px;
    left: 1150px;
    font-size: 30px;
    
    color: rgb(236, 236, 236); text-align: center"
  }
  #text11 {
    position: absolute;
    top: 60px;
    left: 718px;
    font-size: 30px;
    
    color: rgb(236, 236, 236); text-align: center"
  }
  #text12 {
    position: absolute;
    top: 10px;
    left: 1100px;
    font-size: 30px;
    
    color: rgb(236, 236, 236); text-align: center"
  }
  #text13 {
    position: absolute;
    top: 30px;
    left: 500px;
    font-size: 30px;
    
    color: rgb(236, 236, 236); text-align: center"
  }
  #text14 {
    position: absolute;
    top: 550px;
    left: 700px;
    font-size: 30px;
    
    color: rgb(236, 236, 236); text-align: center"
  }
  #text15 {
    position: absolute;
    top: 100px;
    left: 160px;
    font-size: 30px;
    
    color: rgb(236, 236, 236); text-align: center"
  }
  #text16 {
    position: absolute;
    top: 500px;
    left: 300px;
    font-size: 30px;
    
    color: rgb(236, 236, 236); text-align: center"
  }
  #text17 {
    position: absolute;
    top: 518px;
    left: 900px;
    font-size: 30px;
    
    color: rgb(236, 236, 236); text-align: center"
  }
  #text18 {
    position: absolute;
    top: 50px;
    left: 1000px;
    font-size: 40px;
    font: Arial;
    color: rgb(236, 236, 236); text-align: center"
  }
  #text19 {
    position: absolute;
    top: 540px;
    left: 160px;
    font-size: 40px;
    font: Arial;
    color: rgb(236, 236, 236); text-align: center"
  }
  #text20 {
    position: absolute;
    top: 268px;
    left: 1175px;
    font-size: 40px;
    font: Arial;
    color: rgb(236, 236, 236); text-align: center"
  }
  #text21 {
    position: absolute;
    top: 318px;
    left: 130px;
    font-size: 40px;
    font: Arial;
    color: rgb(236, 236, 236); text-align: center"
  }
  #text22 {
    position: absolute;
    top: 318px;
    left: 1020px;
    font-size: 40px;
    font: Arial;
    color: rgb(236, 236, 236); text-align: center"
  }
*{
margin: 0;
padding: 0;
box-sizing: border-box;
overflow: hidden;

}